<!DOCTYPE html>
<html>
<head>
  <title>Stream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] if Stream::Application.assets.find_asset("#{params[:controller]}") %>
  <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}"  if Stream::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}") %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] if Stream::Application.assets.find_asset("#{params[:controller]}") %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}"  if Stream::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}") %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" id="main">
      <% if flash[:error] %>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
    	<%= yield %>
    </div> <!-- /container -->

</body>
</html>
