<!DOCTYPE html>
<html>
<head>
  <title>Stream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] if Stream::Application.assets.find_asset("#{params[:controller]}") %>
  <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}"  if Stream::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}") %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] if Stream::Application.assets.find_asset("#{params[:controller]}") %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}"  if Stream::Application.assets.find_asset("#{params[:controller]}/#{params[:action]}") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
